<!-- <div class="container">
    <div class="row">

        <div class="card-deck col-sm-3">
            <div class="card" style="border: none;">
                <img class=" rounded-circle" src="assets/az.jpg" alt="avatar" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">Emri mbiemri</h5>
                    <p class="card-text">Lenda qe jep.</p>
                </div>
            </div>
                <div class="card" style="border: none;">
                    <img class=" rounded-circle" src="assets/az.jpg" alt="avatar" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
                <div class="card" style="border: none;">
                    <img class=" rounded-circle" src="assets/az.jpg" alt="avatar" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
                <div class="card" style="border: none;">
                    <img class=" rounded-circle" src="assets/az.jpg" alt="avatar" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
          
     

    </div>
    </div>
    </div> -->



    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep .</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
            <div class="card-deck col-sm-4" >
                <div class="card" style="border: none;">
                    <img class="card-img-top rounded-circle img-fluid" src="assets/az.jpg" alt="avatar" >
                    <div class="card-body">
                        <h5 class="card-title">Emri mbiemri</h5>
                        <p class="card-text">Lenda qe jep.</p>
                    </div>
                </div>
         
            
            </div>
        </div>
    </div>