<!-- navbar -->
<nav class="navbar navbar-expand-md  navbar-dark navCollapsed  sticky-top  ">
    <a class="navbar-brand" href="#"><img src="/assets/logo5.png"> Shkolla "Nr.1"</a> <a href="tel:00355672018919"><img src="/assets/tel.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
        (click)="isShown = !isShown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngClass]="{ 'show': isShown ,' ':isShown}">
        <ul class="navbar-nav " [ngClass]="{ 'show': isShown ,'liNavbarCollapsed':isShown}">
            <li class="nav-item ">
                <a class="nav-link" (click)="scrollTo('section1')" style="cursor:pointer;">Kryesore</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" (click)="scrollTo('section2')" style="cursor:pointer;">Cikli i ulet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="scrollTo('section3')" style="cursor:pointer;">Cikli mesem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="scrollTo('section4')" style="cursor:pointer;">Bursat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="scrollTo('section5')" style="cursor:pointer;">Galeri</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" (click)="scrollTo('section6')" style="cursor:pointer;">Evente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="scrollTo('section7')" style="cursor:pointer;">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<!-- carousel -->
<ngb-carousel data-ride="carousel fixed-top">
    <ng-template ngbSlide>
        <img src="assets/slide1.jpg" alt="Delhi Metro" class="img-fluid imgCarousel">
        <div class="carousel-caption">
            <h3 style="color: whitesmoke">Arritjet shkollore vlejnë për cilesine e jetës.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/slide2.jpg" alt="Bangalore Metro" class="img-fluid imgCarousel">
        <div class="carousel-caption">
            <h3 style="color: whitesmoke">Shkolla është vendi ku mësohet dhe ushtrohet demokracia.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/slide3.jpg" alt="Channai Metro" class="img-fluid imgCarousel">
        <div class="carousel-caption">
            <h3 style="color: whitesmoke">Nxenesit pergatiten të përballojnë ndryshimet, madje t&#39;i gjenerojnë ato.
            </h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/slide44.jpg" alt="Channai Metro" class="img-fluid imgCarousel">
        <div class="carousel-caption">
            <h3 style="color: whitesmoke">Dijet duhet te prodhojnë zgjidhje për problemet jetësore.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="assets/slide55.jpg" alt="Channai Metro" class="img-fluid imgCarousel">
        <div class="carousel-caption">
            <h3 style="color: whitesmoke">Thelbi i shkollimit eshte zhvillimi intelektual, etik, fizik, social dhe
                estetik.</h3>
        </div>
    </ng-template>
</ngb-carousel>
<!-- kush jemi -->
<div id="section1"></div>
<div class="container" style="margin-top: 5%;color: #444444;">
    <div class="card shadow-nohover">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <img src="assets/about-us.jpg" alt="" class="img-fluid" style="object-fit: cover;">
            </div>
            <div class="col">
                <div class="card-block px-2 " style="background-color: rgb(246,246,248);" >
                    <h4 class="card-title"><img src="/assets/about.ico" class="img-fluid">Rreth nesh</h4>
                    <p class="card-text">{{about}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cikli i ulet -->
<div id="section2"></div>
<div class="container" style="margin-top: 5%;">
    <div class="card-deck">
        <div class="card text-white shadow-nohover" style="background-color:rgb(89,42,157)">
            <img class="card-img-top " src="assets/parashkollor.jpg" alt="Card image cap" height="400px"
                style="object-fit: cover;">
            <div class="card-body  ">
                <h5 class="card-title">Parashkollor</h5>
                <p class="card-text">{{cikli0}}</p>
                <a  [routerLink]="['stafi',0]" class="btn " type="button" style ="background-color: transparent;margin-bottom: 10px;margin-bottom: 10px;color: whitesmoke; border-radius:1px;border-color:whitesmoke ;"  >
                    Stafi</a>
                    
            </div>
        </div>
        <div class="card text-white shadow-nohover" style="background-color: rgb(143,115,87)">
            <img class="card-img-top" src="assets/kl1.jpg" height="400px" style="object-fit: cover;">
            <div class="card-body shadow-nohover">
                <h5 class="card-title">Cikli i ulet</h5>
                <p class="card-text">{{cikli1}}</p>
                <a  [routerLink]="['stafi',1]" class="btn " type="button" style ="background-color: transparent;margin-bottom: 10px;margin-bottom: 10px;color: whitesmoke; border-radius:1px;border-color:whitesmoke ;"  >
Stafi</a>
            </div>
        </div>

    </div>
</div>
<!-- cikli i mesem -->
<div id="section3"></div>
<div class="container" style="margin-top: 5%;">
    <div class="card-deck">
        <div class="card text-white shadow-nohover" style="background-color:rgb(189,24,59);">
            <img class="card-img-top " src="assets/cikli2.jpg" alt="Card image cap" height="400px"
                style="object-fit: cover;">
            <div class="card-body shadow-nohover ">
                <h5 class="card-title">Cili i mesem i ulet</h5>
                <p class="card-text">{{cikli2}}</p>
                <a [routerLink]="['stafi',2]" class="btn " type="button" style ="background-color: transparent;margin-bottom: 10px;margin-bottom: 10px;color: whitesmoke; border-radius:1px;border-color:whitesmoke ;"  >
                    Stafi</a>
                    
            </div>
        </div>
        <div class="card text-white shadow-nohover" style="background-color:rgb(56,97,149);">
            <img class="card-img-top" src="assets/cikli3.jpg" height="400px" style="object-fit: cover;">
            <div class="card-body shadow-nohover">
                <h5 class="card-title">Cikli i mesem i larte</h5>
                <p class="card-text">{{cikli3}}</p>
                <a  [routerLink]="['stafi',3]" class="btn " type="button" style ="background-color: transparent;margin-bottom: 10px;margin-bottom: 10px;color: whitesmoke; border-radius:1px;border-color:whitesmoke ;"  >
                    Stafi</a>
                    
            </div>
        </div>
    </div>
</div>
<!-- bursat -->
<div id="section4"></div>
<div class="container" style="margin-top: 5%;" >
    <div class="card shadow-nohover d-flex flec-column">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <img src="assets/bursat.jpg" alt="" class="img-fluid" style="object-fit: cover;">
            </div>
            <div class="col" id = "module">
                <div class="card-block px-2 "   >
                    <h4 class="card-title"><img src="/assets/coins.png" class="img-fluid"> Bursat</h4>
                    <p class="card-text">{{bursat}}</p>
                    <a routerLink="pdf" class="btn  mt-auto" type="button" style ="background-color: rgb(218,67,59);margin-bottom: 10px;color: whitesmoke;"  *ngIf="srcBursat!=''" >
                       Me shume</a>
                       
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conatiner" id="section5" >
  <div style="margin-top: 5%;">
    <app-gallery></app-gallery>
</div>
</div>
<div id="section6"></div>
<!-- evente -->
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="card-deck col-sm-4" *ngFor="let p of projects; let i=index">
            <div class="card text-white " style="margin-top: 5%;background-color: #1B2740;">
                <img class="card-img-top img-thumbnail imgCarousel1 img-fluid" src={{p.src}} alt="Card image cap">
                <div class="card-body shadow-nohover">
                    <h5 class="card-title">{{p.titulli}}</h5>
                    <p class="card-text">{{p.detaje}}</p>
                    <a [routerLink]="['pdf',p.id]" class="btn " type="button" style ="background-color: rgb(218,67,59);margin-bottom: 10px;margin-bottom: 10px;color: whitesmoke;"  *ngIf="p.pdfUrl!=''" >
                        Me shume</a>
                        
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section7"></div>
<!--footer -->
<footer class="site-footer" style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6><i class="fa fa-map-marker"></i> Adresa </h6>
                <p class="text-justify">Shkolla jopublike &quot;Nr.1&quot;, Lagja &quot;28 nentori&quot;, rruga &quot;At Kristo Negovani&quot; Vlore, Albania.</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6><i class="fa fa-envelope"></i> Kontakt</h6>
                <ul class="footer-links">
                    <li>Drejtori : <a href="mailto:drejtorishknr1@gmail.com">
                        drejtorishknr1@gmail.com </a><br />
                    <li>Sekretaria : <br /><a href="mailto:sekretarishknr1@gmail.com">
                        sekretarishknr1@gmail.com </a>
                    <li>Financa : <br /><a href="mailto:financashknr1@gmail.com">
                        financashknr1@gmail.com </a>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6><i class="fa fa-phone"></i>Telefon</h6>
                <ul class="footer-links">
                    <li>Drejtori :<a href="tel:00355692069800"> 00355672018916 </a></li>
                </ul>
                <ul class="footer-links">
                    <li>Sekretaria :<a href="tel:00355672018919"> 00355672018919 </a></li>
                </ul>
                <ul class="footer-links">
                    <li>Financa :<a href="tel:00355692363455"> 00355692363455 </a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; Te gjitha te drejtat rezervuar Shkolla jopublike "Nr.1"
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/ShkollaNr.1/"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>